*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 20px;

}
p{ font-size: 16px; }
.dflex{
	display: flex;
}
.product_bg {
	background: grey;
	width: 100%;

}
.product{
	width: 350px;

}

.product__container{
	
	padding: 20px; 
}
.product__photo{
border-radius: 30px 30px 0 0;
}
.product__details{
	border-radius:  0 0 30px 30px;
}
.product__photo_container,
.product__details__container{

	width: 80%;
	margin: 0 auto;
	padding:20px 0; 
}
.product__photo{
	color: white;
	
}
.product__photo_container{
	position: relative;
}

.trainers img{
 position: absolute;
    top: 0;
    right: -190px;
    transform: rotate(20deg);
    max-width: 100%;
	
}
.product__photo__bg_text{

  color: black;
  font-size: 80px;
  opacity: 0.6;
}

.product__photo{

background: pink;
}
.product__details{
	background: #fff;
}
.product__photo__logo img{
 width: 70px;
	
}
.product__rate img {
	margin: 10px 10px 40px 0;
    width: 15px;
	
	
}


 .product__name{
 	position: relative;
 	margin: 20px 0 10px;
 }

.product__details__container{

	
}
.label__new{
	    font-size: 12px;
    background: green;
    position: absolute;
    padding: 5px;
    right: -10px;
    top: -10px;
    color: white;
}





.product__sizes__item,.product__colours__item{
	margin: 10px 15px  20px 0;
}

.product__sizes__item:hover{
    width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: orange;
	color: white;
	text-align: center;
	line-height: 25px;
}

.product__colours{
	
}
.product__colours__items{
	
	position: relative;
}
.color{
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	position: relative;
	margin:20px 15px 20px 0;
}
.color:hover::after{
	position: absolute;
	top: -6px;
	left: -6px;
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	
	border-radius: 50%; 
	border: 1px solid;
}



.color:nth-child(1):hover::after{
	border-color: red;
}
.color:nth-child(2):hover::after{
	
	border-color: yellow;
}
.color:nth-child(3):hover::after{
	border-color:green;
}



.red {
	background: red;
}
.green {
	background: green;
}
.yellow {
	background: yellow;
}
.product_price {
	bottom: 50px;
	font-size: 50px;
	background: green;
	border-radius: 5px;
	color: white;
	  left: 200px;
	position: absolute;
}
.product_price span{
	font-weight: bold;
	
}

