
@import url('header.css');

@import url('about_us.css');
@import url('dance_instructors.css');
@import url('slider.css');
@import url('membership.css');
@import url('form.css');
@import url('footer.css');
@import url('media.css');

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
section {
  width: 960px;
  margin: 0 auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 60px 0 50px
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  color: grey;
}

.dflex-just-cont ,.audio{
  display: flex;
  justify-content: center;
}



table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.nav,
.dance_instructors__list,
.social_media_list ,.benefits{
  list-style-type: none;
  display: flex;
}



.benefits{
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefit__icon{
  display: flex;
  justify-content: center;
}
.benefit{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0; 
}
.benefits img{
  width: 100px;

}
.videos {
  display: flex;
  justify-content: space-between;
}

video,
iframe,
embed {
    width: 310px;
    height: 300px;
}

td {
  padding: 15px 10px;
}



audio {
  margin: 10px 20px 140px 0;
}









@media screen and (max-width:960px){
  section{
      width:100%;
      margin: 0 auto;

  }
  .burger-menu{
display: block;
font-size: 50px;
position: absolute;
color: white;

    right: 20px;
    top: 15px;
}


 .nav{
  display: none;
  } 
nav{
  display: block;
}
.nav,
.dance_instructors__list,
.social_media_list, 
.videos,.cards,.benefits{

flex-wrap: wrap;


}
.dance_instructors__list, 
.videos,.cards,.benefits{
      justify-content: space-around;
    }
.burger-menu_input:checked ~.nav{
   display: block;
    padding: 0;
    margin: 0;

  
}
.nav__item{
  padding-left:10px;
}
.membership__cards__menu__items{
  position: static;
}

.lessons_menu_top{
  position: static;

}
.lessons_menu_top li{
  width: 100%;
  position: static;
  padding: 10px ;
  margin: 0 0 0 -10px;
  
}
.lessons_menu_top li:first-child{
  margin-top: 10px;;
}

.membership__cards__menu__item:hover 
.lessons_menu_top {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background: yellow;
  
}
.membership__cards__menu a{
  padding-left: 0px;
}
  .membership__cards__menu__item{
    padding: 10px 0 0 10px;
    margin-left:-10px ;
  }

}



  @media screen and (max-width:1440px){}
  @media screen and (max-width:960px){
  section{
      width:100%;
      margin: 0 auto;

  }
  .burger-menu{
display: block;
font-size: 50px;
position: absolute;
color: white;

    right: 20px;
    top: 15px;
}


 .nav{
  display: none;
  } 
nav{
  display: block;
}
.nav,
.dance_instructors__list,
.social_media_list, 
.videos,.cards{

flex-wrap: wrap;


}
.dance_instructors__list, 
.videos,.cards{
      justify-content: space-around;
    }
.burger-menu_input:checked ~.nav{
   display: block;
    padding: 0;
    margin: 0;

  
}
.nav__item{
  padding-left:10px;
}
.membership__cards__menu__items{
  position: static;
}

.lessons_menu_top{
  position: static;

}
.lessons_menu_top li{
  width: 100%;
  position: static;
  padding: 10px ;
  margin: 0 0 0 -10px;
  
}
.lessons_menu_top li:first-child{
  margin-top: 10px;;
}

.membership__cards__menu__item:hover 
.lessons_menu_top {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  background: yellow;
  
}
.membership__cards__menu a{
  padding-left: 0px;
}
  .membership__cards__menu__item{
    padding: 10px 0 0 10px;
    margin-left:-10px ;
  }

}

  
  @media screen and (max-width:960px){
    h2{
      padding: 30px 0 25px;
      font-size: 1.3em;
    }
    .nav__item{
      font-size: 24px;
    }
    aside{
      display: none;
    }
    .about_us__description{
      width: 100%;
      text-align: center;

    }
    
    .dance_instructors__list{
      justify-content: space-around;
    }
    .topone_main_header{
       font-size: 50px;
   
    padding: 50px 0 100px;
    }
    




  }

  @media screen and (max-width:768px){
    
.dance_instructors__list,
 .audio ,
.videos,.cards{
display: block;
text-align: center;
}

.left-btn img
   {
 
    left: 5%;
  }
  .right-btn img {
   
    left: 88%;
  }}
  


 @media screen and (max-width:320px){
  h2{
      padding: 30px 0 25px;
      font-size: 1.3em;
    }
    .nav__item{
      font-size: 22px;
    }

    .dance_instructors__list__item img {
    max-width: 100%;
    height: auto;
  }
  
 }



  
