<<<<<<< HEAD
/*------------------MEMBERSHIP_CARD__SECTION--------------------*/

.membership__cards {
}
.card_types {
   
}
.card_type_top {
}
.memb_card {
    
}
.memb_card_photo img {
  width: 300px;
}
.memb_card_description {
  flex-direction: column;
  align-items: center;
}
.price {
}
.btn__purchase {
}
.card_type_bro ,
.card_type_top,
.card_type_unlimitted {
    display: flex;
  justify-content: space-between;
}


||||||| merged common ancestors
=======
/*------------------MEMBERSHIP_CARD__SECTION--------------------*/

.membership__cards {
}
.card_types {
   
}
.card_type_top {
}
.memb_card {
    
}
.memb_card_photo img {
  width: 300px;
}
.memb_card_description {
  flex-direction: column;
  align-items: center;
}
.price {
}
.btn__purchase {
}
.card_type_bro ,
.card_type_top,
.card_type_unlimitted {
    display: flex;
  justify-content: space-between;
}


>>>>>>> 6e608f48b47dad5c9559793cc58c9e3f2a26e3ab
